* {
    box-sizing: border-box;
}

html {
    background: url("foods.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Roboto|Tajawal;
}

#edamam-badge {
    display: none;
}

.restaurantPicture {
    background: url("Restaurantpic.jpg") no-repeat center center;
    height: 90%;
    width: 90%;
}

#addressBackground {
    background-color: black;
    color: white;
    opacity: .90;
    margin-right: 30px;
    padding: 20px
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.links {
    text-align: center;
    color: black;
}

.links:hover {
    color: white;
}

.imageContainer {
    text-align: center;
}

.column {
    width: 30%;
    margin: 1.5%;
    padding: 2%;
    float: left;


}

.row:after {
    content: "";
    display: table;
    clear: both;
}


h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 1%;
    color: white;
    background-color: red;
    border-radius: 3px;
    opacity: .90;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 2em;
    color: white;
    background-color: red;
    border-radius: 3px;
    opacity: .90;
}

h5 {
    text-align: center;
    color: black;
    background-color: red;
    border-radius: 3px;
    opacity: .90;
    font-size: 20px;
    text-decoration: underline;
}

h3 {
    text-align: center;
    text-decoration: underline;
    background-color: red;
    border-radius: 3px;
    opacity: .90;
    font-size: 20px;

}

h3:hover {
    color: white;
}

h4 {
    font-size: 1.5em;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    background-color: black;
    border-radius: 3px;
    opacity: .80;
}

.resultsBackground {
    background-color: red;
    background-size: cover;
    height: 400px;
    opacity: .95;
}

#restaurantResults {
    margin-left: 0px;
    margin-right: 0px;


}

/*
.column2 {
    background-color: rgba(230, 225, 98, .8);
}
*/

button {
    color: white;
    background-color: red;
    border-radius: 3px;
    opacity: .80;
    font-size: 20px;
    text-decoration: none;
    vertical-align: middle;
    font-family: Roboto|Tajawal;
}

button:hover {
    border-top-color: darkred;
    background: #782828;
    color: #ccc;
}

.hover {
    transition: all .3s ease-out;
}

/*
.hover:hover {
    background-color: white;
    box-shadow: 0 2px 0 rgba(159, 105, 240, .9);
    transform: translate(0px, -10px);

}
*/

.inputGroup {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.form {
    text-align: center;
}

label {
    display: block;
    width: 25%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    background: black;
}

input {
    width: 100%;
    height: 6vh;
    font-size: 1em;
    border: .5px solid rgba(159, 105, 240, .3);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.labelText {
    color: white;
    font-size: 1.0em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

::placeholder {
    color: lightgrey;

}

.moodInTitle {
    color: rgba(240, 159, 32, .9);
}

img {
    width: 100%;
    height: 50%;
}

#errorCity,
#errorFood {
    color: red;
    vertical-align: center;
}


@media only screen and (max-width: 720px) {

    .column {
        width: 100%;

    }

    img {
        width: 90%;
    }

    .hover {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    ::placeholder {
        visibility: hidden;
    }

    label {
        text-align: center;
        width: 35%;
    }
}

@media only screen and (max-width: 550px) {

    .labelText {
        font-size: 1.0em;
        margin-left: auto;
        margin-right: auto;
        width: 150%;
    }

    img {
        width: 95%;
        height: 90%;
    }

    input {
        width: 100%;
        height: 6vh;
        margin-left: auto;
        margin-right: auto;
    }

    label {
        text-align: center;
        width: 45%;
    }
}
