*{
    box-sizing: border-box;
  }

html {
    background: url("foods.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Roboto|Tajawal;
}

#edamam-badge {
    display: none;
}

.restaurantPicture {
    background: url("Restaurantpic.jpg") no-repeat center center;
    border-radius: 10px;
}

#addressBackground {
    background-color: #fff;
    opacity: .90;
    padding: 20px;
    height: 250px;
    font-size: 20px;
}

.product-image {
    height: 250px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center center;
}

a {
    text-decoration: none;
}

:-moz-user-disabled{
    list-style-type: none;
    display: block;
    margin: 0px;
    width: 100%;
}

.links {
    text-align: center;
    color: white;
}

.links:hover {
    color: orangered;
}

.imageContainer {
    text-align: center;
    margin-top: 20px;
}

.column {
    width: 30%;
    margin: 1.5%;
    padding: 2%;
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


h1 {
    text-align: center;
    font-size: 3em;
    color: white;
    background-color: black;
    border-radius: 3px;
    opacity: .90;
    width: 100%;
    margin: auto;
}

h2 {
    text-align: center;
    font-size: 2em;
    color: white;
    background-color: black;
    border-radius: 3px;
    opacity: .90;
    margin: auto;
}

h5 {
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 3px;
    opacity: .90;
    font-size: 20px;
    margin: auto;
}

h3 {
    text-align: center;
    background-color: black;
    border-radius: 3px;
    opacity: .90;
    font-size: 20px;
    height: 54px;
    overflow: hidden;
    padding-top: 10px;
    margin; auto;
}
.restaurantName {
    color: #fff;
}

h4 {
    font-size: 1.5em;
    margin: 10px auto;
    color: #bf0c0c;
    border-radius: 3px;
    width: 40%;
}

.resultsBackground {
    background-color: black;
    opacity: .95;
    height: 350px;
    border-radius: 5px;
}

button {
    background: #bf0c0c;
    color: white;
    padding: 0 30px 0;
    opacity: .9;
    border: 3px solid #bf0c0c;
    font-size: 1.375rem;
    line-height: 0;
    line-height: 0rem;
    -webkit-border-radius: 35px;
    -khtml-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border-radius: 35px;
    position: relative;
    display: inline-block;
    line-height: 35px;
}

button:hover {
    border-top-color: darkred;
    background: #782828;
    color: #ccc;
}

.hover {
    transition: all .3s ease-out;
}

.inputGroup {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.form {
    text-align: center;
}

label {
    display: block;
    width: 25%;
    text-align: left;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    background: black;
    padding: 10px;
}

input {
    width: 100%;
    font-size: 1em;
    border: .5px solid rgba(159, 105, 240, .3);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.labelText {
    color: white;
    font-size: 1.0em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

::placeholder {
    color: lightgrey;

}

#errorCity,
#errorFood {
    color: orange;
    vertical-align: center;
}


@media only screen and (max-width: 720px) {

    .column {
        width: 100%;
        text-align: center;

    .hover {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    ::placeholder {
        visibility: hidden;
    }

    label {
        text-align: center;
        width: 35%;
    }
}

@media only screen and (max-width: 550px) {

    .labelText {
        font-size: 1.0em;
        margin-left: auto;
        margin-right: auto;
        width: 150%;
    }

    input {
        width: 100%;
        height: 6vh;
        margin-left: auto;
        margin-right: auto;
    }

    label {
        text-align: center;
        width: 90%;
    }
}
